include classpath("application.conf")

# Specify any custom config here. For example
# whisk {
#   metrics {
#     prometheus-enabled = true
#   }
# }

whisk {
  container-factory {
    use-rdma = {{ use_rdma }}
    container-args {
      network: {{ container_network }}
    }
  }
}
