include classpath("application.conf")

# Specify any custom config here. For example
# whisk {
#   metrics {
#     prometheus-enabled = true
#   }
# }

whisk {
  container-factory {
    use-rdma = {{ use_rdma }}
    container-args {
      network: {{ container_network }}
    }
  }
  resources {
      min {
          cpu = 1
          mem = 32 m
          storage = 32 m
      }
      max {
          cpu = 16
          mem = 32 g
          storage = 64 g
      }
      std {
          cpu = 1
          mem = 128 m
          storage = 256 m
      }
  }
}
