include classpath("application.conf")

# Specify any custom config here. For example
# whisk {
#   metrics {
#     prometheus-enabled = true
#   }
# }


whisk {
    kafka {
        topics {
            {{ racksched_name }} {
                segment-bytes   =  536870912
                retention-bytes = 1073741824
                retention-ms    = 3600000
            }
        }
    }
    resources {
        min {
            cpu = 1
            mem = 32 m
            storage = 32 m
        }
        max {
            cpu = 16
            mem = 32 g
            storage = 64 g
        }
        std {
            cpu = 1
            mem = 128 m
            storage = 64 m
        }
    }
}
